[Desktop Entry]
Name=Hefftor Edition Welcome App
GenericName=Hefftor Edition Welcome App
X-GNOME-FullName=Hefftor Edition Welcome App
Comment=Welcome Application for Hefftor Edition Installations
Exec=/usr/local/bin/hefftor-welcome-app
Icon=hefftorlinux
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
